{% extends './base.html' %} {% block body %}
<table border="1px">
	<tr>
		<th>UID</th>
		<th>FIRST NAME</th>
		<th>LAST NAME</th>
		<th>EMAIL</th>
		<th>PASSWORD</th>
        <th>Action</th>
	</tr>
	{% for user in users %}
        <tr>
            <td>{{user[0]}}</td>
            <td>{{user[1]}}</td>
            <td>{{user[2]}}</td>
            <td>{{user[3]}}</td>
            <td>{{user[4]}}</td>
            <td><a href="/edit/{{user[0]}}">EDIT</a></td>
            <td><a href="/delete/{{user[0]}}">DELETE</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
